<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Ansible is magic</title>
</head>
<body id="home" style="color: {{ webserver_couleur }}">
<p>
Cette machine est pilotée par Ansible.
</p>
</body>
</html>