<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Ansible is magic</title>
</head>
<body id="home" style="color: {{ webserver_couleur }}">
<p>
Cette machine est pilotée par Ansible.
</p>
<p>
Sites hébergés :
<ul>
{% for site in webserver_sites %}
<li><a href="{{ site.nom }}/">{{ site.nom }}</a></li>
{% endfor %}
</ul>
Voici la liste des IPs de la machine : {{ ansible_all_ipv4_addresses }}
Proprement : <ul>
{% for ip in ansible_all_ipv4_addresses %}
<li>{{ ip }}</li>
{% endfor %}
</ul>
Liste des points de montage
<ul>
{% for mp in ansible_mounts %}
{% if 'snap' not in mp.mount %}
<li>{{ mp.device }} est monté dans {{ mp.mount }}
  <ul>
  {% for info, valeur in mp|dictsort %}
  <li>
    {{ info }} : {{ valeur }}
  </li>
  {% endfor %}
  </ul>
</li>
{% endif %}
{% endfor %}
</ul>
</p>
</body>
</html>